<div *ngIf="loading">Loading CV...</div>

<div *ngIf="!loading && cv">
  <form (ngSubmit)="save()">

    <h3>Basic Information</h3>
    <label>First Name: <input [(ngModel)]="cv.firstName" name="firstName"></label>
    <label>Last Name: <input [(ngModel)]="cv.lastName" name="lastName"></label>
    <label>Email: <input [(ngModel)]="cv.email" name="email"></label>
    <label>Phone: <input [(ngModel)]="cv.phone" name="phone"></label>
    <label>Address: <input [(ngModel)]="cv.address" name="address"></label>
    <label>Nationality: <input [(ngModel)]="cv.nationality" name="nationality"></label>
    <label>Date of Birth: <input [(ngModel)]="cv.dateOfBirth" name="dateOfBirth" type="date"></label>
    <label>Summary: <textarea [(ngModel)]="cv.summary" name="summary"></textarea></label>

    <hr>

    <h3>Skills</h3>
    <div *ngFor="let skill of cv.skills; let i = index">
      <input [(ngModel)]="skill.skillName" name="skill{{i}}">
      <button type="button" (click)="removeSkill(i)">Remove</button>
    </div>
    <button type="button" (click)="addSkill()">Add Skill</button>

    <hr>

    <h3>Interests</h3>
    <div *ngFor="let interest of cv.interests; let i = index">
      <input [(ngModel)]="interest.interestName" name="interest{{i}}">
      <button type="button" (click)="removeInterest(i)">Remove</button>
    </div>
    <button type="button" (click)="addInterest()">Add Interest</button>

    <hr>

    <h3>Education</h3>
    <div *ngFor="let edu of cv.educationList; let i = index">
      <input [(ngModel)]="edu.institution" placeholder="Institution" name="eduInst{{i}}">
      <input [(ngModel)]="edu.degree" placeholder="Degree" name="eduDegree{{i}}">
      <input [(ngModel)]="edu.startYear" placeholder="Start Year" type="number" name="eduStart{{i}}">
      <input [(ngModel)]="edu.endYear" placeholder="End Year" type="number" name="eduEnd{{i}}">
      <button type="button" (click)="removeEducation(i)">Remove</button>
    </div>
    <button type="button" (click)="addEducation()">Add Education</button>

    <hr>

    <h3>Work Experience</h3>
    <div *ngFor="let work of cv.workExperiences; let i = index">
      <input [(ngModel)]="work.company" placeholder="Company" name="workCompany{{i}}">
      <input [(ngModel)]="work.position" placeholder="Position" name="workPosition{{i}}">
      <input [(ngModel)]="work.startDate" type="date" name="workStart{{i}}">
      <input [(ngModel)]="work.endDate" type="date" name="workEnd{{i}}">
      <textarea [(ngModel)]="work.description" placeholder="Description" name="workDesc{{i}}"></textarea>
      <button type="button" (click)="removeWorkExperience(i)">Remove</button>
    </div>
    <button type="button" (click)="addWorkExperience()">Add Work Experience</button>

    <hr>

    <h3>Languages</h3>
    <div *ngFor="let lang of cv.languages; let i = index">
      <input [(ngModel)]="lang.language" placeholder="Language" name="langName{{i}}">
      <input [(ngModel)]="lang.level" placeholder="Level" name="langLevel{{i}}">
      <button type="button" (click)="removeLanguage(i)">Remove</button>
    </div>
    <button type="button" (click)="addLanguage()">Add Language</button>

    <hr>

    <h3>Additional Info</h3>
    <div *ngFor="let info of cv.additionalInfos; let i = index">
      <textarea [(ngModel)]="info.content" placeholder="Additional Info" name="info{{i}}"></textarea>
      <button type="button" (click)="removeAdditionalInfo(i)">Remove</button>
    </div>
    <button type="button" (click)="addAdditionalInfo()">Add Additional Info</button>

    <hr>

    <button type="submit">{{ cv.id ? 'Update CV' : 'Create CV' }}</button>
  </form>
</div>