<div class="login-container">

  <mat-card class="login-card mat-elevation-z8">

    <mat-card-header class="header">
      <mat-card-title>Student Login</mat-card-title>
      <mat-card-subtitle>Log in to continue</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <form (ngSubmit)="login()" class="login-form">

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput [(ngModel)]="username" name="username" required />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>

          <mat-icon matPrefix>lock</mat-icon>

          <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required />

          <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword" tabindex="-1">
            <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>

        </mat-form-field>

        <button mat-raised-button color="primary" class="login-button" type="submit">
          Login
        </button>

      </form>

      <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </p>

    </mat-card-content>

  </mat-card>

</div>